section {
  margin-top: 30px;
}

.all-characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.one-character {
  width: 30%;
}

.character-image {
  height: 320px;
  width: 100%;
}

.character-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.character-input {
  margin: 30px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 23px;
}

.character-input input {
  width: 70%;
  height: 50px;
  font-size: 23px;
}

.links {
  text-decoration: none;
}
