header {
  background-color: black;
  height: 80px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.dropdown > button {
  display: none;
}

.logo {
  width: 200px;
}

.logo img {
  height: 100%;
  object-fit: cover;
}

.navigation {
  display: flex;
  /* border: 1px solid black; */
  width: 78%;
  justify-content: space-between;
}

.nav-categories {
  display: flex;
  gap: 40px;
}

.account-buttons {
  display: flex;
  gap: 30px;
}

.nav-account .menu {
  display: none;
}

.css-button-retro--red {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-size: 20px;
  font-family: "Bangers", system-ui;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: 1px solid #585858;
  color: #fff;
  background: transparent;
  z-index: 0;
}
.css-button-retro--red:hover:after {
  top: 0;
  left: 0;
}
.css-button-retro--red:after {
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
  transition: 0.2s;
  background-color: #ed171e;
}

@media (max-width: 898px) {
  .logo {
    padding: 4px;
  }

  .navigation {
    justify-content: space-around;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  .nav-account {
    position: relative;
    display: inline-block;
  }

  .dropdown > button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .account-buttons {
    display: none;
    position: absolute;
    z-index: 1;
  }

  .nav-categories {
    display: none;
    position: absolute;
    z-index: 1;
  }

  .nav-categories .css-button-retro--red {
    border: none;
    transition: none;
    top: 0;
    left: 0;
    background-color: black;
  }

  .nav-account .menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .account-buttons .css-button-retro--red::after {
    transition: none;
    top: 0;
    left: 0;
    background-color: black;
    color: #ed171e;
  }

  .nav-categories .css-button-retro--red::after {
    transition: none;
    top: 0;
    left: 0;
    background-color: black;
    color: #ed171e;
  }

  .nav-account:hover .account-buttons {
    display: block;
  }
  .dropdown:hover .nav-categories {
    display: block;
  }
}
