* {
  box-sizing: border-box;
}

body {
  font-family: Comic Neue, sans-serif;
}

.logo {
  width: 300px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1224px;
  margin: 0 auto;
}

.background {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.asterisk {
  background-color: white;
  width: 110%;
  position: relative;
  padding: 10px 20px;
  left: 380px;
  bottom: 270px;
  border: 2px black solid;
}

.home-section {
  width: 100vw;
  height: calc(100vh - 80px);
  background-color: black;
}

section {
  background-color: black;
}

.background > img {
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
  border: 10px white solid;
}

.deadpool {
  position: absolute;
  width: 400px;
  top: 130px;
  left: 300px;
  z-index: 1;
  height: 400px;
}

.deadpool img {
  width: 100%;
}

.speech-bubble {
  --arrow-w: 0.5em;
  --arrow-h: 1em;
  --bubble-corners: 0;
  --w: 12em;
  --border-size: 3px;
  --text-color: black;
  --bubble-color: white;
  --border-color: black;
  --bubble-corners: 1em;
}
.speech-bubble {
  position: fixed;
  bottom: 550px;
  left: 400px;
  text-align: center;
  font-family: Comic Neue, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: var(--text-color);
  background: var(--bubble-color);
  padding: 1em;
  position: relative;
  border-radius: var(--bubble-corners);
  max-width: var(--w);
  box-shadow: 0 0 0 var(--border-size) var(--border-color);
}

.speech-bubble.d {
  display: none;
}

.bubble2 {
  bottom: 530px;
}

.speech-bubble:before,
.speech-bubble:after {
  content: "";
  position: absolute;
  bottom: calc(-1 * var(--arrow-h) * 2 + 0.5px);
  left: 50%;
  border-style: solid;
  border-width: var(--arrow-h) var(--arrow-w);
  border-color: var(--bubble-color) transparent transparent;
}

.speech-bubble.l:after {
  border-color: transparent var(--bubble-color) transparent transparent;
  bottom: auto;
  border-width: var(--arrow-w) var(--arrow-h);
  top: calc(50% - var(--arrow-w));
  left: calc(-1 * var(--arrow-h) * 2 + 0.5px);
}

.speech-bubble.l:before {
  border-width: calc(var(--arrow-w) + var(--border-size))
    calc(var(--arrow-h) + var(--border-size));
  border-color: transparent var(--border-color) transparent transparent;
  bottom: auto;
  top: calc(50% - var(--arrow-w) - var(--border-size));
  left: calc(-1 * var(--arrow-h) * 2 - 2.5 * var(--border-size));
}

footer {
  height: 50px;
  background-color: black;
}

@media (max-width: 1100px) {
  .deadpool {
    left: 100px;
  }
  .asterisk {
    left: 200px;
  }
}

@media (max-width: 768px) {
  .asterisk {
    left: 40px;
    bottom: 320px;
  }
  .deadpool {
    left: 0px;
  }

  .bubble1 {
    display: none;
  }

  .speech-bubble.d {
    display: flex;
    bottom: 650px;
    left: 30px;
  }

  .bubble2 {
    left: 300px;
    bottom: 700px;
    width: 170px;
  }

  .speech-bubble.d:before,
  .speech-bubble:after {
    content: "";
    position: absolute;
    bottom: calc(-1 * var(--arrow-h) * 2 + 0.5px);
    left: 50%;
    border-style: solid;
    border-width: var(--arrow-h) var(--arrow-w);
    border-color: var(--bubble-color) transparent transparent;
  }

  .speech-bubble.d:before {
    border-width: calc(var(--arrow-h) + var(--border-size))
      calc(var(--arrow-w) + var(--border-size));
    border-color: var(--border-color) transparent transparent;
    bottom: calc(-1 * var(--arrow-h) * 2 - 2.5 * var(--border-size));
    left: calc(50% - var(--border-size));
  }
}
